factorydata/pipeline/DatabricksPipelinePOC.json
{
	"name": "DatabricksPipelinePOC",
	"properties": {
		"activities": [
			{
				"name": "GetMergedFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:07:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetMeregedFiles]",
						"storedProcedureParameters": {
							"FileType": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.FileType",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TransformMergeFiles",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/shamikbaksi93@outlook.com/MergeOp",
					"baseParameters": {
						"FileDetails": {
							"value": "@string(variables('FileNames'))",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DatabricksConn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetMergedFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileNames",
					"value": {
						"value": "@activity('GetMergedFiles').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileType": {
				"type": "string",
				"defaultValue": "merge"
			}
		},
		"variables": {
			"FileNames": {
				"type": "Array"
			},
			"FileDir": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}